#root {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: -7;
}

* {
  box-sizing: border-box;
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.25vh;
    gap: 20px;
    text-align: center;
    color: black;
    margin-top: 5vh;
    z-index: -3;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    min-height:600px;
    padding: 2vh;
    gap: 1.2vw;
    z-index:-5;
}
main{
    position:absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: -6;
}
body {
  margin: 0;
  color: #e6ddf9;
}
