.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 218px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    z-index: -2;
    position:relative;
    padding: 0.25vh;
}

    .card p {
        text-align: left;
        color: #6C757D;
    }
.priority {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px !important;
}
    .priority p {
        border-radius: 6px;
        color: white;
        text-align: center;
        padding: 6px;
        margin-left: 8px;
        width: auto;
    }
.grid {
    padding: 0 !important;
    margin: 0px 0px 0px -5px !important;
}
    .grid p {
        padding: 8px;

    }
    .grid input {
        padding: 0px 0 0px 0px !important;
        width: 90% !important;
        text-align: left;
    }

    .grid div {
        padding: 0 0 0 1px !important;
        margin: 0;
        width: 95%;
        height:auto;
        align-self: center;
        text-align: left;
        min-width: 10px !important;
    }
.values p {
    color: black;
}
.clicked p {
    padding: 10px 0 10px 10px;
}
button{
    position:relative;
    bottom: 6px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 0px;
    color: #212529;
    background-color: transparent;
}
button:hover{
    background-color: #5c576f2f !important;
}
.edit{
    position:absolute;
    top: 6px;
    right: 10px;
    display:none;
    z-index:99;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 0px;
    color: #212529;
    background-color: transparent;
}
.card:hover .edit{
    display:inline;
}
.highlight {
    background-color: yellow;
}