.body {
    display: flex;
    flex: 1;
    width: 29.375vw;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 25vh;
}

.form {
    display: flex;

    flex-direction: column;
    align-items: start;
    text-align: left;
    align-content: space-around;
}

.form input {
    width: 100%;
    height: 4vh;
    font-size: 1 vh;
    color: black;
    background-color: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    padding-left: 0.35rem;
}

.form input:focus {
    outline: none;
    border: 2px solid #f7b6af;
}

.form input:invalid {
    border: 2px solid #D93547;
}

.form button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #B6A3C2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #61dafb;
}

.form .label {
    font-size: 1.7vh;
    font-weight: bold;
    color: #dee0cf;
    line-height: 2.7vh;
    margin-left: 2px;
}

.form .error {
    font-size: 1.6vh;
    font-weight: bold;
    margin-left: 2px;
    color: #D93547;
    height: 2.87vh;
}

.title {
    font-size: 3.75vw;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 3.8vh;
}