
.tasksContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.25vh;
    gap: 20px;
    text-align: center;
    color: black;
    margin-top: 5.8vh;
    z-index: -3;
}
.header {
    display: flex;
    position: fixed;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 6px;
    height: 40px;
    width: 25.05vw;
    min-width: 210px;
    z-index: -1;
    box-shadow: 0px 3px 6px #00000029;
}
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 25.9vw;
    min-width: 220px;
    min-height:600px;
    text-align: center;
    color: white;
    z-index: -4;
}
.headerTitle {
    font-size: 1.0em;
    color: #2a2630;
    width: 100%;
    text-align:left;
}